.form-section {
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}
